

/* Universal */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Common */
.deco-none {
    text-decoration: none;
    color: black;
}

/* Header */
.header {
    background-color: #006fc9;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-left: 12px;
}

.header-left-img-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header-left-img {
    width: 50px;
    height: 50px;
}

.header-left-para {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.header-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin-right: 12px;
}

.header-right-help, .header-right-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right-help-img {
    width: 24px;
    height: 24px;
}

.header-right-profile-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

/* Main */
.main {
    width: 100%;
    display: grid;
    grid-template-columns: 24% 76%;
    height: calc(100vh - 48px);
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 48px;
}

.sidebar-top {
    width: 100%;
    height: 50px;
    margin-top: 48px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sidebar-top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.sidebar-top-left-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.sidebar-top-right {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 10px;
}

.sidebar-top-right-heading {
    font-size: 15px;
    font-weight: 500;
}

.sidebar-top-right-para {
    font-size: 12px;
    font-size: 500;
    color: rgb(70, 70, 70);
}

.sidebar-top-right-link {
    font-size: 14px;
    font-weight: 400;
    color: #006fc9;
}

.sidebar-buttons {
    height: 400px;
    width: 100%;
    margin-top: 24px;
}

.active-btn {
    width: 58%;
    height: 40px;
    background-color: white;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 0px 8px 1px rgba(128, 128, 128, 0.566);
    transition-duration: 0.2s;
    cursor: pointer;
}

.active-btn:hover {
    background-color: #e8e8e8;
}

.active-btn-indicator {
    background-color: #006fc9;
    height: 40%;
    width: 3px;
    border-radius: 10px;
}

.active-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.active-btn-icon-img {
    width: 22px;
    height: 22px;
}

.active-btn-text {
    font-size: 14px;
    font-weight: 500;
    color: rgb(53, 53, 53);
    margin-left: 10px;
}

.passive-btn {
    width: 58%;
    height: 40px;
    margin-top: 6px;
    background-color: white;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition-duration: 0.2s;
    cursor: pointer;
}

.passive-btn:hover {
    background-color: #e8e8e8;
}

.passive-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
}

.passive-btn-text{
    font-size: 14px;
    font-weight: 400;
    color: rgb(59, 59, 59);
    margin-left: 10px;
}




/* Main Content */
.main-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.main-content-top {
    width: 86%;
    height: 36px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 50px;
}

.main-content-top-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-top-heading-text {
    font-size: 24px;
    font-weight: 500;
}

.main-content-top-right {
    width: 480px;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-content-top-right-parent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.main-content-top-right-parent-icon {
    width: 30px;
    height: 30px;
    background-color: #cfe5f6;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-top-right-parent-icon-img {
    width: 22px;
    height: 22px;
}

.key-rotate {
    transform: rotate(45deg);
}

.main-content-top-right-parent-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.main-content-top-right-parent-heading {
    font-size: 13px;
    font-weight: 500;
}

.main-content-top-right-parent-para {
    font-size: 12px;
    font-weight: 400;
    color: rgb(80, 80, 80);
}

.card {
    width: 84.4%;
    margin-top: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 20% 80%;
    overflow: hidden;
    box-shadow: 0px 0px 8px 1px rgba(128, 128, 128, 0.526);
    margin-left: 20px;
    cursor: pointer;
}

.card-ms365 {
    height: 250px;
}

.card-onedrive {
    height: 280px;
}

.card-xbox {
    height: 280px
}

.card-device {
    height: 280px;
}

.card-top {
    display: grid;
    grid-template-columns: 80% 20%;
    border-bottom: 1px solid rgba(100, 100, 100, 0.221);
    transition-duration: 0.2s;
}

.card-top:hover {
    background-color: #e8e8e8;
}

.card-top-left {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-top-left-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
}

.card-top-left-icon-img {
    width: 24px;
    height: 24px;
}

.card-top-left-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.card-top-left-text-heading {
    font-size: 14px;
    font-weight: 500;
    color: rgb(19, 19, 19);
}

.card-top-left-text-para {
    font-size: 12.4px;
    color: rgb(59, 59, 59);
}

.card-top-right {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.device-top-right-txt {
    font-size: 12px;
    font-weight: 500;
    color: #0064b5;
    border-bottom: 1px solid #0064b5;
    margin-right: 20px;
}

.card-top-right-img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.card-bot-parent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.card-bot-child {
    width: 91%;
    margin-left: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ms365-bot-child {
    height: 70%;
}

.game-bot-child {
    height: 90%;
}

.game-bot-child-left-heading {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.game-bot-child-left-para {
    font-size: 14px;
    color: rgb(54, 54, 54);
    width: 84%;
    margin-top: 14px;
    line-height: 1.5;
}

.game-bot-child-right-img {
    width: 320px;
}

.ms365-bot-child-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

.ms365-bot-child-left-heading {
    font-size: 18px;
    font-weight: 500;
    margin-top: 14px;
}

.ms365-bot-child-left-para {
    font-size: 14px;
    color: rgb(54, 54, 54);
    width: 90%;
    margin-top: 14px;
}

.ms365-bot-child-left-btn {
    background-color: #006fc9;
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 12px;
}

.ms365-bot-child-left-btn:hover {
    background-color: #0064b5;
}

.ms365-bot-child-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms365-bot-child-right-img {
    width: 300px;
}

.onedrive-bot-child {
    height: 72%;
    display: grid;
    grid-template-columns: 25% 75%;
}

.onedrive-bot-child-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2px;
}

.onedrive-bot-child-left-para,
.onedrive-bot-child-left-heading-span {
    color: rgb(78, 78, 78);
    font-size: 14px;
    font-weight: 400;
}

.onedrive-bot-child-left-heading {
    font-weight: 500;
}

.onedrive-bot-child-left-link {
    font-size: 14px;
    font-weight: 400;
    color: #0064b5;
}

.onedrive-bot-child-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.onedrive-bot-child-right-top {
    color: rgb(78, 78, 78);
    font-weight: 500;
    font-size: 14px;
}

.onedrive-bot-child-right-mid {
    width: 100%;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.392);
    border-radius: 4px;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1px;
}

.onedrive-color {
    background-color: #637cef;
    height: 100%;
    width: 40%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.designer-color,
.loop-color {
    height: 100%;
    width: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.designer-color {
    background-color: #e3008c;
}

.loop-color {
    background-color: #2aa0a4;
}

.onedrive-bot-child-right-bot {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 24% 24% 24% 24%;
    grid-row-gap: 1%;
}

.card-bot-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-bot-chart-left {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
}

.card-bot-chart-left-color {
    height: 56%;
    width: 5px;
    border-radius: 3px;
}

.card-bot-chart-left-para {
    color: rgb(78, 78, 78);
    font-size: 13px;
    margin-left: 6px;
}

.card-bot-chart-right {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.card-bot-chart-right-para {
    color: rgb(78, 78, 78);
    font-size: 13px;
    margin-right: 6px;
}

.card-bot-chart-right-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-bot-chart-right-icon-img {
    width: 20px;
    height: 20px;
}

.color1 {
    background-color: #637cef;
}

.color2 {
    background-color: #e3008c;
}

.color3 {
    background-color: #2aa0a4;
}

.color4 {
    background-color: #9373c0;
}

.device-bot-child {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.device-bot-child-left {
    background-color: rgba(255, 0, 0, 0.289);
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-bot-child-left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-bot-child-left-icon-img {
    width: 140px;
}

.device-bot-child-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 12px;
    margin-left: 14px;
}

.device-bot-child-left-text-para {
    font-size: 18px;
    color: rgb(78, 78, 78);
}

.device-bot-child-left-text-heading {
    font-size: 30px;
    font-weight: 500;
}

.device-bot-child-left-text-link {
    color: #0064b5;
    font-size: 14px;
    border-bottom: 1px solid #0064b5;

}

.device-bot-child-right {
    background-color: rgba(0, 0, 255, 0.295);
}