

/* Universal */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Common */
.deco-none {
    text-decoration: none;
    color: black;
}

/* Header */
.header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-parent {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 12.4px;
    letter-spacing: 0.5px;
}

.header-logo {
    height: 100%;
    width: fit-content;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px dashed transparent;
}

.header-logo:active {
    border: 1px dashed black;
}

.header-left-image {
    height: fit-content;
    width: 106px;
}

.header-link-left {
    padding-top: 2px;
    margin-left: 20px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.header-link-left:hover {
    border-bottom: 2px solid black;
}

.header-right {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 12.4px;
    letter-spacing: 0.5px;
}

.header-link-right {
    padding-top: 2px;
    margin-right: 20px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.header-link-right-no{
    padding-top: 2px;
    margin-right: 20px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

.header-link-right:hover {
    border-bottom: 2px solid black;
}

.my-account {
    position: absolute;
    top: 60px;
    right: 200px;
    transition-duration: 0.2s;
    width: 0px;
    z-index: 30;
    color: transparent;
    transition-duration: 0.4s;
    opacity: 0;
}

.header-link-right-no:hover .my-account {
    background-color: white;
    border: 1px solid rgba(99, 99, 99, 0.497);
    border-radius: 12px;
    top: 60px;
    right: 90px;
    width: 340px;
    height: 160px;
    opacity: 100;
}

.my-account-top, 
.my-account-top-left, 
.my-account-top-left-img, 
.my-account-top-right, 
.my-account-top-right-text, 
.my-account-main, 
.my-account-main-img-parent, 
.my-account-main-img, 
.my-account-main-text, 
.my-account-main-text-heading, 
.my-account-main-text-email, 
.my-account-main-text-para {
    color: transparent;
    background-color: transparent;
    width: 0px;
    font-size: 0px;
    z-index: -10;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    opacity: 0;
}

.header-link-right-no:hover .my-account-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-top-left {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-top-left-img {
    width: 100px;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-top-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
    margin-right: 20px;
    width: 100px;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-top-right-text {
    font-weight: 100;
    font-size: 10px;
    width: 50px;
    color: black;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-main {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 35% 65%;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-main-img-parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-main-img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    z-index: 50;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-main-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-main-text-heading {
    width: 100%;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-main-text-email {
    width: 100%;
    color: rgba(0, 0, 0, 0.725);
    font-size: 12px;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-link-right-no:hover .my-account-main-text-para {
    width: fit-content;
    color: #005ca5;
    border-bottom: 2px solid #005ca5;
    font-size: 12px;
    transition-delay: 0.2s;
    opacity: 100;
}

.header-right-image {
    color: rgb(66, 66, 66);
    width: 16px;
    position: relative;
    bottom: -4px;
}

.header-right-pro {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.header-search {
    transform: rotate(90deg);
}


/* Landing Page */
.landing {
    width: 100%;
    height: 480px;
    position: relative;
}

.landing-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.landing-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 84%;
    margin-left: 8%;
    margin-top: 130px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.landing-heading {
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.landing-para {
    margin-top: 20px;
    font-size: 16px;
    color: white;
    width: 460px;
    line-height: 1.4;
}

.landing-btn {
    margin-top: 24px;
    height: 40px;
    width: 264px;
    background-color: #0067b8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.landing-btn:hover {
    background-color: #005ca5;
}

.landing-btn-para {
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.landing-opt {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;
}

.landing-opt-para {
    color: white;
    font-weight: 600;
    border-bottom: 1px solid transparent;
}

.landing-opt-img {
    width: 25px;
    height: 25px;
    transition-duration: 0.4s;
}

.landing-opt:hover .landing-opt-para {
    border-bottom: 2px solid white;
}

.landing-opt:hover .landing-opt-img {
    transform: translateX(5px);
}

.landing-bottom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 30px;
}

.landing-circle {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 100%;
}

.landing-dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
}

.landing-bottom-btn-img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.play-pause:hover {
    transform: scale(1.1,1.1);
    transition-duration: 0.2s;
}

.arr-left, .arr-right {
    transition: 0.2s;
}

.arr-left:hover {
    transform: translateX(-10px);
}

.arr-right:hover {
    transform: translateX(10px);
}

.landing-bottom-links {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.landing-bottom-links-child {
    margin-top: 68px;
    height: 100px;
    width: fit-content;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center;
    justify-items: center;
    padding: 0px 10px;
    cursor: pointer;
}

.landing-bottom-links-child-img {
    width: 40px;
    height: 40px;
}

.landing-bottom-links-child-para {
    color: #0067b8;
    padding-bottom: 0.4px;
    font-weight: 500;
}

.landing-bottom-cards {
    height: 540px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-bottom-cards-parent {
    width: 90%;
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-column-gap: 1.6%;
}

.landing-bottom-cards-child {
    display: grid;
    grid-template-rows: 40% 60%;
    box-shadow: 0px 4px 18px -2px rgb(159, 159, 159);
    height: 440px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.landing-bottom-card-img-parent {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.landing-bottom-card-img {
    width: 100%;
    transition-duration: 0.6s;
}

.landing-bottom-cards-child:hover .landing-bottom-card-img {
    transform: scale(1.2,1.2);
}

.landing-bottom-card-bottom {
    padding: 22px;
    height: 220px;
}

.landing-bottom-card-heading {
    font-size: 29px;
    font-weight: 600;
    line-height: 1.2;
}

.landing-bottom-card-para {
    margin-top: 14px;
    line-height: 1.6;
}

.landing-bottom-card-btn {
    background-color: #0067b8;
    width: fit-content;
    height: fit-content;
    padding: 8px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    position: absolute;
    bottom: 22px;
    left: 22px;
    cursor: pointer;
}

.landing-bottom-card-btn:hover {
    background-color: #005ca5;
}

/* Xbox Card */
.xbox-card {
    margin-top: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xbox-card-img-parent {
    width: 90%;
    height: 100%;
    position: relative;
}

.xbox-card-img {
    width: 100%;
    height: 100%;
}

.xbox-card-text-parent {
    position: absolute;
    top: 1450px;
    left: 200px;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: start;
}

.xbox-card-text-heading {
    font-size: 38px;
        font-weight: 600;
        line-height: 1.2;
}

.xbox-card-text-para {
    letter-spacing: 1.4;
}

.xbox-card-text-btn {
    background-color: #0067b8;
        width: fit-content;
        height: fit-content;
        padding: 8px 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 600;
        border-radius: 2px;
        cursor: pointer;
}

.xbox-card-text-btn:hover {
    background-color: #005ca5;
}


/* For Business */
.for-business {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.for-business-parent {
    width: 90%;
    margin-top: 106px;
}


.for-business-heading {
font-size: 38px;
    font-weight: 600;
    line-height: 1.2;
}

.for-business-card-parent {
    width: 100%;
    height: 510px;
    margin-top: 24px;
    justify-content: center;
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-column-gap: 2%;
}

.for-business-card-child {
    display: grid;
    grid-template-rows: 30% 70%;
    box-shadow: 0px 4px 18px -2px rgb(159, 159, 159);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.for-business-card-child-img-parent {
    width: 100%;
    overflow: hidden;
}

.for-business-card-child-img {
    width: 100%;
    transition-duration: 0.6s;
}

.for-business-card-child:hover .for-business-card-child-img {
    transform: scale(1.1,1.1);
}

.for-business-card-child-text {
    padding: 22px;
    position: relative;
}

.for-business-card-child-heading {
    font-size: 29px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 44px;
}

.for-business-card-child-para {
    margin-top: 14px;
    line-height: 1.6;
}

.for-business-card-child-btn {
    background-color: #0067b8;
    width: fit-content;
    height: fit-content;
    padding: 8px 14px;
    max-width: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    position: absolute;
    bottom: 22px;
    left: 22px;
    cursor: pointer;
}

.for-business-card-child-btn:hover {
    background-color: #005ca5;
}

.for-business-card-child-new {
    background-color: #ffb900;
    position: absolute;
    padding: 4px 10px;
    font-weight: 500;
    top: 190px;
    left: 22px;
}

/* Follow */
.follow {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.follow-parent {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.follow-text {
    font-size: 18px;
}

.follow-img {
    margin-left: 22px;
    width: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.follow-img:hover {
    color: red;
    transform: scale(1.2,1.2);
}

/* Footer */
.footer {
    background-color: rgba(221, 221, 221, 0.485);
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-parent {
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17% 17%;
}

.footer-child {
    width: 100%;
}

.footer-child-heading {
    font-size: 15px;
    font-weight: 500;
    color: rgb(73, 73, 73);
}

.footer-child-link {
    color: rgb(97, 97, 97);
    text-decoration: none;
    font-size: 11px;
    margin-top: 15px;
    display: block;
    width: fit-content;
    border-bottom: 1px solid transparent;
}

.footer-child-link:hover {
    color: black;
    border-bottom: 1px solid black;
}

/* Footer Last */
.footer-last {
    background-color: rgba(221, 221, 221, 0.485);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    color: rgb(73, 73, 73);
}

.footer-last-parent {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-last-child-left {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
}

.footer-last-child-left-globe {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.footer-last-child-left-globe:hover .footer-last-child-left-para,
.footer-last-child-left-privacy:hover .footer-last-child-left-para{
    border-bottom: 1px solid rgb(73, 73, 73);
}

.footer-last-child-left-globe-img {
    width: 20px;
}

.footer-last-child-left-para {
    font-size: 11px;
    margin-left: 6px;
    border-bottom: 1px solid transparent;
}

.footer-last-child-left-para-outer {
    font-size: 11px;
    margin-left: 6px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.footer-last-child-left-para-outer:hover {
    border-bottom: 1px solid rgb(73, 73, 73);
}

.footer-last-child-left-privacy {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.footer-last-child-left-privacy-img {
    width: 30px;
}

.footer-last-child-right {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 22px;
}

.footer-last-child-right-para {
    font-size: 11px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.footer-last-child-right-para:hover {
    border-bottom: 1px solid rgb(73, 73, 73);
}