<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microsoft account | Home</title>

    <!-- Link Favicon -->
    <link rel="shortcut icon" href="../img/favicon.png" />

    <!-- Link CSS file -->
    <link rel="stylesheet" href="../css/account.css" />
  </head>
  <body>
    <!-- Header -->
    <section id="header" class="header">
      <div class="header-left">
        <a href="/" class="header-left-img-parent">
          <img src="../img/header/menu.svg" alt="" />
        </a>
        <a href="../components/account.html" class="header-left-para"
          >Microsoft account</a
        >
      </div>
      <div class="header-right">
        <div class="header-right-help">
          <img
            src="../img/header/help.svg"
            alt=""
            class="header-right-help-img"
          />
        </div>
        <div class="header-right-profile">
          <img
            src="../img/header/Elayabarathi M V.webp"
            alt=""
            class="header-right-profile-img"
          />
        </div>
      </div>
    </section>

    <section class="main" id="main">
      <section class="sidebar" id="sidebar">
        <div class="sidebar-top">
          <div class="sidebar-top-left">
            <img
              src="../img/sidebar/Elayabarathi M V.webp"
              alt=""
              class="sidebar-top-left-img"
            />
          </div>
          <div class="sidebar-top-right">
            <h1 class="sidebar-top-right-heading">Elayabarathi M V</h1>
            <p class="sidebar-top-right-para">elayabarathiedison@gmail.com</p>
            <p class="sidebar-top-right-link">View my Benefits</p>
          </div>
        </div>
        <div class="sidebar-buttons">
          <div class="active-btn">
            <div class="active-btn-indicator"></div>
            <div class="active-btn-icon">
              <img
                src="../img/sidebar/home.svg"
                alt=""
                class="active-btn-icon-img"
              />
            </div>
            <p class="active-btn-text">Account</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/user.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Your info</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/subscription.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Subscriptions</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/devices.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Devices</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/security.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Security</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/privacy.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Privacy</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/cart.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Order history</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/card.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Payment option</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/location.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Address book</p>
          </div>
        </div>
      </section>
      <section class="main-content" id="main-content">
        <div class="main-content-top">
          <div class="main-content-top-heading">
            <h1 class="main-content-top-heading-text">Account</h1>
          </div>
          <div class="main-content-top-right">
            <div class="main-content-top-right-parent">
              <div class="main-content-top-right-parent-icon">
                <img
                  src="../img/main-content/windows.svg"
                  alt=""
                  class="main-content-top-right-parent-icon-img"
                />
              </div>
              <div class="main-content-top-right-parent-text">
                <h1 class="main-content-top-right-parent-heading">
                  Get Microsoft 365
                </h1>
                <p class="main-content-top-right-parent-para">Subscriptions</p>
              </div>
            </div>
            <div class="main-content-top-right-parent">
              <div class="main-content-top-right-parent">
                <div class="main-content-top-right-parent-icon">
                  <img
                    src="../img/main-content/key.svg"
                    alt=""
                    class="main-content-top-right-parent-icon-img key-rotate"
                  />
                </div>
                <div class="main-content-top-right-parent-text">
                  <h1 class="main-content-top-right-parent-heading">
                    Change password
                  </h1>
                  <p class="main-content-top-right-parent-para">Security</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card1 -->
        <div class="card card-ms365">
          <div class="card-top">
            <div class="card-top-left">
                <div class="card-top-left-icon">
                    <img src="../img/main-content/ms365-icon.svg" alt="" class="card-top-left-icon-img">
                </div>
                <div class="card-top-left-text">
                    <h1 class="card-top-left-text-heading">Microsoft 365</h1>
                    <p class="card-top-left-text-para">Desktop versions of Microsoft 365 apps, AI-powered experiences, cloud storage, and more</p>
                </div>
            </div>
            <div class="card-top-right">
                <img src="../img/main-content/arrow-up.svg" alt="" class="card-top-right-img">
            </div>
          </div>
          <div class="card-bot-parent">
            <div class="ms365-bot-child card-bot-child">
                <div class="ms365-bot-child-left">
                    <h1 class="ms365-bot-child-left-heading">Achieve the extraordinary</h1>
                    <p class="ms365-bot-child-left-para">Upgrade today to get extra cloud storage, advanced security, and AI-powered features designed to make your day easier all in one plan.</p>
                    <div class="ms365-bot-child-left-btn">Get Microsoft 365</div>
                </div>
                <div class="ms365-bot-child-right">
                    <img src="../img/main-content/ms365.png" alt="" class="ms365-bot-child-right-img">
                </div>
            </div>
          </div>
        </div>

        <!-- Card2 -->
        <div class="card card-onedrive">
          <div class="card-top">
            <div class="card-top-left">
                <div class="card-top-left-icon">
                    <img src="../img/main-content/onedrive.svg" alt="" class="card-top-left-icon-img">
                </div>
                <div class="card-top-left-text">
                    <h1 class="card-top-left-text-heading">Microsoft storage</h1>
                    <p class="card-top-left-text-para">This includes files, photos, attachments, and more across your Microsoft account</p>
                </div>
            </div>
            <div class="card-top-right">
                <img src="../img/main-content/arrow-up.svg" alt="" class="card-top-right-img">
            </div>
          </div>
          <div class="card-bot-parent onedrive-bot-parent">
            <div class="onedrive-bot-child card-bot-child">
                <div class="onedrive-bot-child-left">
                    <p class="onedrive-bot-child-left-para">Total used</p>
                    <h1 class="onedrive-bot-child-left-heading">2GB <span class="onedrive-bot-child-left-heading-span">/ 5GB</span></h1>
                    <p class="onedrive-bot-child-left-link">Get more storage</p>
                </div>
                <div class="onedrive-bot-child-right">
                    <p class="onedrive-bot-child-right-top">40% used</p>
                    <div class="onedrive-bot-child-right-mid">
                        <div class="onedrive-color"></div>
                        <div class="designer-color"></div>
                        <div class="loop-color"></div>
                    </div>
                    <div class="onedrive-bot-child-right-bot">

                        <div class="card-bot-chart">
                            <div class="card-bot-chart-left">
                                <div class="card-bot-chart-left-color color1"></div>
                                <p class="card-bot-chart-left-para">OneDrive</p>
                            </div>
                            <div class="card-bot-chart-right">
                                <p class="card-bot-chart-right-para">2 GB</p>
                                <div class="card-bot-chart-right-icon">
                                    <img src="../img/main-content/openin.svg" alt="" class="card-bot-chart-right-icon-img">
                                </div>
                            </div>
                        </div>
                        <div class="card-bot-chart">
                            <div class="card-bot-chart-left">
                                <div class="card-bot-chart-left-color color2"></div>
                                <p class="card-bot-chart-left-para">Designer</p>
                            </div>
                            <div class="card-bot-chart-right">
                                <p class="card-bot-chart-right-para">< 0.1 GB</p>
                                <div class="card-bot-chart-right-icon">
                                    <img src="../img/main-content/openin.svg" alt="" class="card-bot-chart-right-icon-img">
                                </div>
                            </div>
                        </div>
                        <div class="card-bot-chart">
                            <div class="card-bot-chart-left">
                                <div class="card-bot-chart-left-color color3"></div>
                                <p class="card-bot-chart-left-para">Loop</p>
                            </div>
                            <div class="card-bot-chart-right">
                                <p class="card-bot-chart-right-para">< 0.1 GB</p>
                                <div class="card-bot-chart-right-icon">
                                    <img src="../img/main-content/openin.svg" alt="" class="card-bot-chart-right-icon-img">
                                </div>
                            </div>
                        </div>
                        <div class="card-bot-chart">
                            <div class="card-bot-chart-left">
                                <div class="card-bot-chart-left-color color4"></div>
                                <p class="card-bot-chart-left-para">Outlook (Attachments)</p>
                            </div>
                            <div class="card-bot-chart-right">
                                <p class="card-bot-chart-right-para">0 GB</p>
                                <div class="card-bot-chart-right-icon">
                                    <img src="../img/main-content/openin.svg" alt="" class="card-bot-chart-right-icon-img">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
          </div>
        </div>


        <!-- card 3 -->
         <div class="card card-xbox">
          <div class="card-top">
            <div class="card-top-left">
                <div class="card-top-left-icon">
                    <img src="../img/main-content/xbox-icon.png" alt="" class="card-top-left-icon-img">
                </div>
                <div class="card-top-left-text">
                    <h1 class="card-top-left-text-heading">Game Pass</h1>
                    <p class="card-top-left-text-para">Play hundreds of games</p>
                </div>
            </div>
            <div class="card-top-right">
                <img src="../img/main-content/arrow-up.svg" alt="" class="card-top-right-img">
            </div>
          </div>
          <div class="card-bot-parent">
            <div class="game-bot-child card-bot-child">
                <div class="ms365-bot-child-left">
                    <h1 class="game-bot-child-left-heading">Discover your next favorite game</h1>
                    <p class="game-bot-child-left-para">Play a catalog of 200+ games like Diablo IV, Metaphor: ReFantazio, and more on Xbox console, PC, and supported devices.  Skip the download and stream games on any supported device with cloud gaming.  Get in-game benefits for the biggest games. Earn exclusive rewards when playing and buying games and add-ons.</p>
                    <div class="ms365-bot-child-left-btn">Join Game Pass</div>
                </div>
                <div class="ms365-bot-child-right">
                    <img src="../img/main-content/xbox.jpg" alt="" class="game-bot-child-right-img">
                </div>
            </div>
          </div>
        </div>

        <!-- card 4 -->

        <div class="card card-device">
          <div class="card-top">
            <div class="card-top-left">
                <div class="card-top-left-icon">
                    <img src="../img/main-content/devices.svg" alt="" class="card-top-left-icon-img">
                </div>
                <div class="card-top-left-text">
                    <h1 class="card-top-left-text-heading">Devices</h1>
                    <p class="card-top-left-text-para">Find, repair, and manage your devices</p>
                </div>
            </div>
            <div class="card-top-right">
              <p class="device-top-right-txt">View all devices(1)</p>
                <img src="../img/main-content/arrow-up.svg" alt="" class="card-top-right-img">
            </div>
          </div>
          <div class="card-bot-parent">
            <div class="device-bot-child">
              <div class="device-bot-child-left">
                <div class="device-bot-child-left-icon">
                  <img src="../img/main-content/pc.png" alt="" class="device-bot-child-left-icon-img">
                </div>
                <div class="device-bot-child-left-text">
                  <h1  class="device-bot-child-left-text-heading">ASUS-ROG</h1>
                  <p class="device-bot-child-left-text-para">PC</p>
                  <p class="device-bot-child-left-text-link">View details</p>
                </div>
              </div>
              <div class="device-bot-child-right"></div>
            </div>
          </div>
        </div>

        <div class="" style="width: 100%; height:400px; background-color:red"></div>
      </section>
    </section>
  </body>
</html>
