<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microsoft account | Home</title>

    <!-- Link Favicon -->
    <link rel="shortcut icon" href="../img/favicon.png" />

    <!-- Link CSS file -->
    <link rel="stylesheet" href="../css/account.css" />
  </head>
  <body>
    <!-- Header -->
    <section id="header" class="header">
      <div class="header-left">
        <a href="/" class="header-left-img-parent">
          <img src="../img/header/menu.svg" alt="" />
        </a>
        <a href="../components/account.html" class="header-left-para"
          >Microsoft account</a
        >
      </div>
      <div class="header-right">
        <a href="" class="header-right-help">
          <img
            src="../img/header/help.svg"
            alt=""
            class="header-right-help-img"
          />
        </a>
        <a href="" class="header-right-profile">
          <img
            src="../img/header/Elayabarathi M V.webp"
            alt=""
            class="header-right-profile-img"
          />
        </a>
      </div>
    </section>

    <section class="main" id="main">
      <section class="sidebar" id="sidebar">
        <div class="sidebar-top">
          <div class="sidebar-top-left">
            <img
              src="../img/sidebar/Elayabarathi M V.webp"
              alt=""
              class="sidebar-top-left-img"
            />
          </div>
          <div class="sidebar-top-right">
            <h1 class="sidebar-top-right-heading">Elayabarathi M V</h1>
            <p class="sidebar-top-right-para">elayabarathiedison@gmail.com</p>
            <p class="sidebar-top-right-link link-deco">View my Benefits</p>
          </div>
        </div>
        <div class="sidebar-buttons">
          <div class="active-btn">
            <div class="active-btn-indicator"></div>
            <div class="active-btn-icon">
              <img
                src="../img/sidebar/home.svg"
                alt=""
                class="active-btn-icon-img"
              />
            </div>
            <p class="active-btn-text">Account</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/user.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Your info</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/subscription.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Subscriptions</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/devices.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Devices</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/security.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Security</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/privacy.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Privacy</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/cart.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Order history</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/card.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Payment option</p>
          </div>

          <div class="passive-btn">
            <div class="passive-btn-icon">
              <img
                src="../img/sidebar/location.svg"
                alt=""
                class="passive-btn-icon-img"
              />
            </div>
            <p class="passive-btn-text">Address book</p>
          </div>
        </div>
      </section>
      <section class="main-content" id="main-content">
        <div class="main-content-top">
          <div class="main-content-top-heading">
            <h1 class="main-content-top-heading-text">Account</h1>
          </div>
          <div class="main-content-top-right">
            <div class="main-content-top-right-parent">
              <div class="main-content-top-right-parent-icon">
                <img
                  src="../img/main-content/windows.svg"
                  alt=""
                  class="main-content-top-right-parent-icon-img"
                />
              </div>
              <div class="main-content-top-right-parent-text">
                <h1 class="main-content-top-right-parent-heading">
                  Get Microsoft 365
                </h1>
                <p class="main-content-top-right-parent-para">Subscriptions</p>
              </div>
            </div>
            <div class="main-content-top-right-parent">
              <div class="main-content-top-right-parent">
                <div class="main-content-top-right-parent-icon">
                  <img
                    src="../img/main-content/key.svg"
                    alt=""
                    class="main-content-top-right-parent-icon-img key-rotate"
                  />
                </div>
                <div class="main-content-top-right-parent-text">
                  <h1 class="main-content-top-right-parent-heading">
                    Change password
                  </h1>
                  <p class="main-content-top-right-parent-para">Security</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card1 -->
        <div class="card card-ms365">
          <div class="card-top">
            <div class="card-top-left">
              <div class="card-top-left-icon">
                <img
                  src="../img/main-content/ms365-icon.svg"
                  alt=""
                  class="card-top-left-icon-img"
                />
              </div>
              <div class="card-top-left-text">
                <h1 class="card-top-left-text-heading">Microsoft 365</h1>
                <p class="card-top-left-text-para">
                  Desktop versions of Microsoft 365 apps, AI-powered
                  experiences, cloud storage, and more
                </p>
              </div>
            </div>
            <div class="card-top-right">
              <img
                src="../img/main-content/arrow-up.svg"
                alt=""
                class="card-top-right-img"
              />
            </div>
          </div>
          <div class="card-bot-parent">
            <div class="ms365-bot-child card-bot-child">
              <div class="ms365-bot-child-left">
                <h1 class="ms365-bot-child-left-heading">
                  Achieve the extraordinary
                </h1>
                <p class="ms365-bot-child-left-para">
                  Upgrade today to get extra cloud storage, advanced security,
                  and AI-powered features designed to make your day easier all
                  in one plan.
                </p>
                <div class="ms365-bot-child-left-btn">Get Microsoft 365</div>
              </div>
              <div class="ms365-bot-child-right">
                <img
                  src="../img/main-content/ms365.png"
                  alt=""
                  class="ms365-bot-child-right-img"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Card2 -->
        <div class="card card-onedrive">
          <div class="card-top">
            <div class="card-top-left">
              <div class="card-top-left-icon">
                <img
                  src="../img/main-content/onedrive.svg"
                  alt=""
                  class="card-top-left-icon-img"
                />
              </div>
              <div class="card-top-left-text">
                <h1 class="card-top-left-text-heading">Microsoft storage</h1>
                <p class="card-top-left-text-para">
                  This includes files, photos, attachments, and more across your
                  Microsoft account
                </p>
              </div>
            </div>
            <div class="card-top-right">
              <img
                src="../img/main-content/arrow-up.svg"
                alt=""
                class="card-top-right-img"
              />
            </div>
          </div>
          <div class="card-bot-parent onedrive-bot-parent">
            <div class="onedrive-bot-child card-bot-child">
              <div class="onedrive-bot-child-left">
                <p class="onedrive-bot-child-left-para">Total used</p>
                <h1 class="onedrive-bot-child-left-heading">
                  2GB
                  <span class="onedrive-bot-child-left-heading-span"
                    >/ 5GB</span
                  >
                </h1>
                <p class="onedrive-bot-child-left-link link-deco">Get more storage</p>
              </div>
              <div class="onedrive-bot-child-right">
                <p class="onedrive-bot-child-right-top">40% used</p>
                <div class="onedrive-bot-child-right-mid">
                  <div class="onedrive-color"></div>
                  <div class="designer-color"></div>
                  <div class="loop-color"></div>
                </div>
                <div class="onedrive-bot-child-right-bot">
                  <div class="card-bot-chart">
                    <div class="card-bot-chart-left">
                      <div class="color-chart-parent">
                        <div class="card-bot-chart-left-color color1"></div>
                      </div>
                      <p class="card-bot-chart-left-para">OneDrive</p>
                    </div>
                    <div class="card-bot-chart-right">
                      <p class="card-bot-chart-right-para">2 GB</p>
                      <div class="card-bot-chart-right-icon">
                        <img
                          src="../img/main-content/openin.svg"
                          alt=""
                          class="card-bot-chart-right-icon-img"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="card-bot-chart">
                    <div class="card-bot-chart-left">
                      <div class="color-chart-parent">
                      <div class="card-bot-chart-left-color color2"></div>
                      </div>
                      <p class="card-bot-chart-left-para">Designer</p>
                    </div>
                    <div class="card-bot-chart-right">
                      <p class="card-bot-chart-right-para">< 0.1 GB</p>
                      <div class="card-bot-chart-right-icon">
                        <img
                          src="../img/main-content/openin.svg"
                          alt=""
                          class="card-bot-chart-right-icon-img"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="card-bot-chart">
                    <div class="card-bot-chart-left">
                      <div class="color-chart-parent">
                      <div class="card-bot-chart-left-color color3"></div>
                      </div>
                      <p class="card-bot-chart-left-para">Loop</p>
                    </div>
                    <div class="card-bot-chart-right">
                      <p class="card-bot-chart-right-para">< 0.1 GB</p>
                      <div class="card-bot-chart-right-icon">
                        <img
                          src="../img/main-content/openin.svg"
                          alt=""
                          class="card-bot-chart-right-icon-img"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="card-bot-chart">
                    <div class="card-bot-chart-left">
                      <div class="color-chart-parent">
                      <div class="card-bot-chart-left-color color4"></div>
                      </div>
                      <p class="card-bot-chart-left-para">
                        Outlook (Attachments)
                      </p>
                    </div>
                    <div class="card-bot-chart-right">
                      <p class="card-bot-chart-right-para">0 GB</p>
                      <div class="card-bot-chart-right-icon">
                        <img
                          src="../img/main-content/openin.svg"
                          alt=""
                          class="card-bot-chart-right-icon-img"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- card 3 -->
        <div class="card card-xbox">
          <div class="card-top">
            <div class="card-top-left">
              <div class="card-top-left-icon">
                <img
                  src="../img/main-content/xbox-icon.png"
                  alt=""
                  class="card-top-left-icon-img"
                />
              </div>
              <div class="card-top-left-text">
                <h1 class="card-top-left-text-heading">Game Pass</h1>
                <p class="card-top-left-text-para">Play hundreds of games</p>
              </div>
            </div>
            <div class="card-top-right">
              <img
                src="../img/main-content/arrow-up.svg"
                alt=""
                class="card-top-right-img"
              />
            </div>
          </div>
          <div class="card-bot-parent">
            <div class="game-bot-child card-bot-child">
              <div class="ms365-bot-child-left">
                <h1 class="game-bot-child-left-heading">
                  Discover your next favorite game
                </h1>
                <p class="game-bot-child-left-para">
                  Play a catalog of 200+ games like Diablo IV, Metaphor:
                  ReFantazio, and more on Xbox console, PC, and supported
                  devices. Skip the download and stream games on any supported
                  device with cloud gaming. Get in-game benefits for the biggest
                  games. Earn exclusive rewards when playing and buying games
                  and add-ons.
                </p>
                <div class="ms365-bot-child-left-btn">Join Game Pass</div>
              </div>
              <div class="ms365-bot-child-right">
                <img
                  src="../img/main-content/xbox.jpg"
                  alt=""
                  class="game-bot-child-right-img"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- card 4 -->

        <div class="card card-device">
          <div class="card-top">
            <div class="card-top-left">
              <div class="card-top-left-icon">
                <img
                  src="../img/main-content/devices.svg"
                  alt=""
                  class="card-top-left-icon-img"
                />
              </div>
              <div class="card-top-left-text">
                <h1 class="card-top-left-text-heading">Devices</h1>
                <p class="card-top-left-text-para">
                  Find, repair, and manage your devices
                </p>
              </div>
            </div>
            <div class="card-top-right">
              <p class="device-top-right-txt ">View all devices(1)</p>
              <img
                src="../img/main-content/arrow-up.svg"
                alt=""
                class="card-top-right-img"
              />
            </div>
          </div>
          <div class="card-bot-parent">
            <div class="card-bot-parent-bot">
              <div class="device-bot-child">
                <div class="device-bot-child-left">
                  <div class="device-bot-child-left-icon">
                    <img
                      src="../img/main-content/pc.png"
                      alt=""
                      class="device-bot-child-left-icon-img"
                    />
                  </div>
                  <div class="device-bot-child-left-text">
                    <h1 class="device-bot-child-left-text-heading">ASUS-ROG</h1>
                    <p class="device-bot-child-left-text-para">Gaming PC</p>
                    <p class="device-bot-child-left-text-link link-deco">View details</p>
                  </div>
                </div>
                <div class="device-bot-child-right">
                  <div class="device-bot-child-right-icon">
                    <img
                      src="../img/main-content/add.svg"
                      alt=""
                      class="device-bot-child-right-icon-img"
                    />
                  </div>
                  <p class="device-bot-child-right-link link-deco">Add device</p>
                  <p class="device-bot-child-right-para">
                    Surface, Xbox, or related accessories
                  </p>
                </div>
              </div>
              <div class="device-bot-child-bot">
                <p class="device-bot-child-bot-para">Related</p>
                <p class="device-bot-child-bot-link link-deco">Schedule a repair</p>
                <p class="device-bot-child-bot-link link-deco">Find my device</p>
                <p class="device-bot-child-bot-link link-deco">Online support</p>
              </div>
            </div>
          </div>
        </div>

        <!-- card5 -->
        <div class="card card-privacy">
          <div class="card-top">
            <div class="card-top-left">
              <div class="card-top-left-icon">
                <img
                  src="../img/main-content/pcivacy-icon.svg"
                  alt=""
                  class="card-top-left-icon-img"
                />
              </div>
              <div class="card-top-left-text">
                <h1 class="card-top-left-text-heading">Privacy</h1>
                <p class="card-top-left-text-para">
                  Manage your privacy settings for Microsoft products
                </p>
              </div>
            </div>
            <div class="card-top-right">
              <img
                src="../img/main-content/arrow-up.svg"
                alt=""
                class="card-top-right-img"
              />
            </div>
          </div>
          <div class="card-bot-parent">
            <div class="card-bot-parent-privacy">
              <div class="card-bot-parent-privacy-top">
                <div class="card-bot-parent-privacy-top-left">
                  <h1 class="card-bot-parent-privacy-top-left-heading">
                    Microsoft puts you in control of your privacy
                  </h1>
                  <p class="card-bot-parent-privacy-top-left-para">
                    The privacy dashboard is where you can manage your data that
                    Microsoft saves to the cloud as well as your settings for
                    the Microsoft products and services you use.
                  </p>
                  <div class="card-bot-parent-privacy-top-left-btn">
                    Privacy dashboard
                  </div>
                </div>
                <div class="card-bot-parent-privacy-top-right">
                  <img src="../img/main-content/privacy.svg" alt="" />
                </div>
              </div>
              <div class="device-bot-child-bot">
                <p class="device-bot-child-bot-para">Related</p>
                <p class="device-bot-child-bot-link link-deco">Privacy statement</p>
                <p class="device-bot-child-bot-link link-deco">
                  Apps and services that can access your data
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card6 -->
        <div class="card card-security">
          <div class="card-top">
            <div class="card-top-left">
              <div class="card-top-left-icon">
                <img
                  src="../img/main-content/security-icon.svg"
                  alt=""
                  class="card-top-left-icon-img"
                />
              </div>
              <div class="card-top-left-text">
                <h1 class="card-top-left-text-heading">Security</h1>
                <p class="card-top-left-text-para">
                  Tools to help keep you safe online
                </p>
              </div>
            </div>
            <div class="card-top-right">
              <img
                src="../img/main-content/arrow-up.svg"
                alt=""
                class="card-top-right-img"
              />
            </div>
          </div>
          <div class="card-bot-parent">
            <div class="card-bot-parent-security">
              <div class="card-bot-parent-security-top">
                <div class="card-bot-parent-privacy-top-left">
                  <h1 class="card-bot-parent-privacy-top-left-heading">
                    Protect your account
                  </h1>
                  <p class="card-bot-parent-privacy-top-left-para">
                    Confirm your two-step verification is turned on and manage
                    additional security settings.
                  </p>
                  <div class="card-bot-parent-privacy-top-left-btn">
                    Security dashboard
                  </div>
                </div>
                <div class="card-bot-parent-privacy-top-right">
                  <img src="../img/main-content/security.svg" alt="" />
                </div>
              </div>
              <div class="card-bot-parent-security-bot">
                <div class="card-bot-parent-security-bot-component">
                  <div class="card-bot-parent-security-bot-component-left">
                    <img
                      src="../img/main-content/lock.svg"
                      alt=""
                      class="card-bot-parent-security-bot-component-left-img"
                    />
                    <p class="card-bot-parent-security-bot-component-left-para">
                      Change password
                    </p>
                  </div>
                  <div class="card-bot-parent-security-bot-component-right">
                    <img
                      src="../img/main-content/arrow-up.svg"
                      alt=""
                      class="card-bot-parent-security-bot-component-right-img"
                    />
                  </div>
                </div>
                <div class="card-bot-parent-security-bot-component">
                  <div class="card-bot-parent-security-bot-component-left">
                    <img
                      src="../img/main-content/person-key.svg"
                      alt=""
                      class="card-bot-parent-security-bot-component-left-img"
                    />
                    <p class="card-bot-parent-security-bot-component-left-para">
                      See your sign-in activities
                    </p>
                  </div>
                  <div class="card-bot-parent-security-bot-component-right">
                    <img
                      src="../img/main-content/arrow-up.svg"
                      alt=""
                      class="card-bot-parent-security-bot-component-right-img"
                    />
                  </div>
                </div>
                <div class="card-bot-parent-security-bot-component">
                  <div class="card-bot-parent-security-bot-component-left">
                    <img
                      src="../img/main-content/setting.svg"
                      alt=""
                      class="card-bot-parent-security-bot-component-left-img"
                    />
                    <p class="card-bot-parent-security-bot-component-left-para">
                      Additional security settings
                    </p>
                  </div>
                  <div class="card-bot-parent-security-bot-component-right">
                    <img
                      src="../img/main-content/arrow-up.svg"
                      alt=""
                      class="card-bot-parent-security-bot-component-right-img"
                    />
                  </div>
                </div>
                <div class="card-bot-parent-security-bot-bottom">
                  <p class="device-bot-child-bot-para">Related</p>
                  <p class="device-bot-child-bot-link link-deco ">
                    Stay secure with Windows
                  </p>
                  <p class="device-bot-child-bot-link link-deco ">
                    Learn more about digital security
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- card7 -->
        <div class="card card-payment">
          <div class="card-top">
            <div class="card-top-left">
              <div class="card-top-left-icon">
                <img
                  src="../img/main-content/card-icon.svg"
                  alt=""
                  class="card-top-left-icon-img"
                />
              </div>
              <div class="card-top-left-text">
                <h1 class="card-top-left-text-heading">Payment options</h1>
                <p class="card-top-left-text-para">
                  Manage how you pay for purchases with your Microsoft account
                </p>
              </div>
            </div>
            <div class="card-top-right">
              <img
                src="../img/main-content/arrow-up.svg"
                alt=""
                class="card-top-right-img"
              />
            </div>
          </div>
          <div class="card-bot-parent">
            <div class="card-bot-parent-payment">
              <div class="card-bot-parent-payment-top">
                <p class="card-bot-parent-payment-top-left">
                  No payment methods
                </p>
                <p class="card-bot-parent-payment-top-right link-deco ">
                  Add payment method
                </p>
              </div>
              <div class="card-bot-parent-payment-bot">
                <p class="device-bot-child-bot-para">Related</p>
                <p class="device-bot-child-bot-link link-deco ">View transactions</p>
                <p class="device-bot-child-bot-link link-deco ">View notifications</p>
                <p class="device-bot-child-bot-link link-deco ">Investigate charge</p>
              </div>
            </div>
          </div>
        </div>

        <!-- card8 -->
        <div class="card card-payment">
          <div class="card-top">
            <div class="card-top-left">
              <div class="card-top-left-icon">
                <img
                  src="../img/main-content/cart-icon.svg"
                  alt=""
                  class="card-top-left-icon-img"
                />
              </div>
              <div class="card-top-left-text">
                <h1 class="card-top-left-text-heading">Order history</h1>
                <p class="card-top-left-text-para">
                  View recent purchases made with your Microsoft account
                </p>
              </div>
            </div>
            <div class="card-top-right">
              <img
                src="../img/main-content/arrow-up.svg"
                alt=""
                class="card-top-right-img"
              />
            </div>
          </div>
          <div class="card-bot-parent">
            <div class="card-bot-parent-payment">
              <div class="card-bot-parent-payment-top">
                <p class="card-bot-parent-payment-top-left">
                  No purchases made in the past 3 months
                </p>
              </div>
              <div class="card-bot-parent-payment-bot">
                <p class="device-bot-child-bot-para">Related</p>
                <p class="device-bot-child-bot-link link-deco">Get billing help</p>
                <p class="device-bot-child-bot-link link-deco">View order history</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Bottom Big Cards -->
        <div class="card-bot-card">
          <!-- Card1 -->
          <div class="card-bot-card-parent">
            <div class="card-bot-card-parent-top">
              <h1 class="card-bot-card-parent-top-heading">Discover</h1>
            </div>
            <div class="card-bot-card-parent-bot">
              <div class="card-bot-card-parent-bot-top">
                <img
                  src="../img/main-content/card1.jpg"
                  alt=""
                  class="card-bot-card-parent-bot-top-img1"
                />
              </div>
              <div class="card-bot-card-parent-bot-bot">
                <div class="card-bot-card-parent-bot-bot-top">
                  <h1 class="card-bot-card-parent-bot-bot-top-heading">
                    Xbox Game Pass Premium
                  </h1>
                  <p class="card-bot-card-parent-bot-bot-top-para">
                    Play a catalogue of 200+ games like Diablo IV, Football
                    Manager 2024 and Hogwarts Legacy.
                  </p>
                </div>
                <div class="card-bot-card-parent-bot-bot-bot">
                  <p class="card-bot-card-parent-bot-bot-bot-para link-deco">
                    Subscribe
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Card2 -->
          <div class="card-bot-card-parent">
            <div class="card-bot-card-parent-top">
              <h1 class="card-bot-card-parent-top-heading">Family</h1>
            </div>
            <div class="card-bot-card-parent-bot">
              <div class="card-bot-card-parent-bot-top">
                <img
                  src="../img/main-content/card2.png"
                  alt=""
                  class="card-bot-card-parent-bot-top-img2"
                />
              </div>
              <div class="card-bot-card-parent-bot-bot">
                <div class="card-bot-card-parent-bot-bot-top">
                  <h1 class="card-bot-card-parent-bot-bot-top-heading">
                    One happy connected family
                  </h1>
                  <p class="card-bot-card-parent-bot-bot-top-para">
                    Share stuff, stay organized, and keep kids safer online.
                  </p>
                </div>
                <div class="card-bot-card-parent-bot-bot-bot">
                  <p class="card-bot-card-parent-bot-bot-bot-para link-deco">
                    Add a member
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Card3 -->
          <div class="card-bot-card-parent">
            <div class="card-bot-card-parent-top">
              <h1 class="card-bot-card-parent-top-heading">Rewards</h1>
            </div>
            <div class="card-bot-card-parent-bot">
              <div class="card-bot-card-parent-bot-top">
                <img
                  src="../img/main-content/card3.png"
                  alt=""
                  class="card-bot-card-parent-bot-top-img3"
                />
              </div>
              <div class="card-bot-card-parent-bot-bot">
                <div class="card-bot-card-parent-bot-bot-top">
                  <h1 class="card-bot-card-parent-bot-bot-top-heading">
                    You're being rewarded
                  </h1>
                  <p class="card-bot-card-parent-bot-bot-top-para">
                    As a Microsoft Rewards member, you'll earn points for
                    searching and shopping with Microsoft.
                  </p>
                </div>
                <div class="card-bot-card-parent-bot-bot-bot">
                  <p class="card-bot-card-parent-bot-bot-bot-para link-deco">
                    Tell me more
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Card4 -->
          <div class="card-bot-card-parent">
            <div class="card-bot-card-parent-top">
              <h1 class="card-bot-card-parent-top-heading">Outlook</h1>
            </div>
            <div class="card-bot-card-parent-bot">
              <div class="card-bot-card-parent-bot-top">
                <img
                  src="../img/main-content/card4.svg"
                  alt=""
                  class="card-bot-card-parent-bot-top-img4"
                />
              </div>
              <div class="card-bot-card-parent-bot-bot">
                <div class="card-bot-card-parent-bot-bot-top">
                  <h1 class="card-bot-card-parent-bot-bot-top-heading">
                    Your life organized
                  </h1>
                  <p class="card-bot-card-parent-bot-bot-top-para">
                    Save time and focus on what matters with an intelligent,
                    secure email and calendar app from Outlook.
                  </p>
                </div>
                <div class="card-bot-card-parent-bot-bot-bot">
                  <p class="card-bot-card-parent-bot-bot-bot-para link-deco">
                    Open Outlook.com
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Card5 -->
          <a href="https://elayabarathimv-portfolio.vercel.app/" target="_blank" rel="noopener" class="card-bot-card-parent deco-none">
            <div class="card-bot-card-parent-top">
              <h1 class="card-bot-card-parent-top-heading">Portfolio</h1>
            </div>
            <div class="card-bot-card-parent-bot">
              <div class="card-bot-card-parent-bot-top">
                <img
                  src="../img/main-content/card5.webp"
                  alt=""
                  class="card-bot-card-parent-bot-top-img5"
                />
              </div>
              <div class="card-bot-card-parent-bot-bot">
                <div class="card-bot-card-parent-bot-bot-top">
                  <h1 class="card-bot-card-parent-bot-bot-top-heading">
                    Elayabarathi M V
                  </h1>
                  <p class="card-bot-card-parent-bot-bot-top-para">
                    Frontend Web Dev | Software Dev | Enthusiast in Scientific & Technological Innovations
                  </p>
                </div>
                <div class="card-bot-card-parent-bot-bot-bot">
                  <p class="card-bot-card-parent-bot-bot-bot-para link-deco">
                    Visit elayabarathimv-portfolio
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <!-- Footer -->
        <section class="footer">
          <div class="footer-last-child-left">
            <div class="footer-last-child-left-globe">
              <img
                src="../img/footer/globe.svg"
                alt=""
                class="footer-last-child-left-globe-img"
              />
              <p class="footer-last-child-left-para">English (India)</p>
            </div>
            <div class="footer-last-child-left-privacy">
              <img
                src="../img/footer/tick.svg"
                alt=""
                class="footer-last-child-left-privacy-img"
              />
              <p class="footer-last-child-left-para">Your Privacy Choices</p>
            </div>
            <p class="footer-last-child-left-para-outer">
              Consumer Health Privacy
            </p>
          </div>
          <div class="footer-last-child-right">
            <p class="footer-last-child-right-para">Contact Microsoft</p>
            <p class="footer-last-child-right-para">Privacy</p>
            <p class="footer-last-child-right-para">Terms of use</p>
            <p class="footer-last-child-right-para">Trademark</p>
            <p class="footer-last-child-right-para">About our ads</p>
            <p class="footer-last-child-right-para">© Microsoft 2025</p>
          </div>
        </section>
      </section>
    </section>
  </body>
</html>
